:root {
    --slate: #434455;
    --white-background: #ffffff;
    --cornflower: #e7e9fc;
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --cloud: #f4f4fd;
    --ocean: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white-background);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.page {
    margin: 0 auto;
    max-width: 1440px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   overflow: hidden;
 }

/* region Header */
.top-line {
    border: 1px solid var(--cornflower);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
}
.logo-studio {
    color: var(--navyblue);
}
.menu-nav {
    line-height: 1.5;
}
.menu-nav-link {
    font-weight: 500;
    color: var(--navyblue);
    letter-spacing: 0.02em;
}
.menu-nav-link:hover,
.menu-nav-link:focus {
    color: var(--ocean);
}
address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-menu-link {
    color: var(--slate);
}
.contact-menu-link:hover,
.contact-menu-link:focus {
    color: var(--ocean);
}
/* end region Header */

/* region Hero */
.hero {
    color: white;
    background-color: var(--navyblue);
}
.slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.order-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: var(--iris);
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
    color: var(--ocean);
}
/* end region Hero */

/* region Feature */
.feature {
    color: var(--navyblue);
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feature-heading {
    font-size: 20px;
    font-weight: 500;
}
.feature-text {
    color: var(--slate);
}
/* end region Feature*/

/* region Team */
.team {
    background-color: var(--cloud);
    letter-spacing: 0.02em;
}
.team-heading {
    font-weight: 700;
    font-size: 36px;
    color: var(--navyblue);
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team-card {
    background-color: var(--white-background);
}
.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.team-card-text {
    line-height: 1.5;
    color: var(--slate);
}
.trail-social-ico {
    color: var(--iris);
}
.trail-social-ico:hover,
.trail-social-ico:focus {
    color: var(--ocean);
}
/* end region Team */

/* region Portfolio */
.portfolio {
    border: 1px solid var(--cornflower);
    letter-spacing: 0.02em;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    text-align: center;
    text-transform: capitalize;
}
.portfolio-cards {
    background-color: var(--white-background);
}
.project-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.project-card-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* end region Portfolio */

/* region Footer */
.footer {
    background-color: var(--navyblue);
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    text-transform: uppercase;
}
.footer-studio {
    color: var(--cloud);
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* end region Footer */