:root {
    --slate: #434455;
    --white-background: #ffffff;
    --cornflower: #e7e9fc;
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --cloud: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white-background);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.page {
    margin: 0 auto;
    max-width: 1440px;
}

/* region Header */
.top-line {
    border: 1px solid var(--cornflower);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--navyblue);

}
.logo-accent {
    color: var(--iris);
}
.menu-nav {
    line-height: 24px;
}
.menu-nav-item {
    font-weight: 500;
    color: var(--navyblue);
}
.contact-menu-item {
    color: var(--slate);
}
/* end region Header */

/* region Hero */
.hero {
    color: white;
    background-color: var(--navyblue);
}
.slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    /*text-align: center;*/
}
.order-btn {
    font-family: inherit;
    font-weight: 500;
    background-color: var(--iris);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15 );
    border-radius: 4px;
    line-height: 24px;
}
/* end region Hero */

/* region Feature */
.feature {
    color: var(--navyblue);
    line-height: 24px;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
.feature-heading {
    font-size: 20px;
    font-weight: 500;
}
.feature-text {
    color: var(--slate);
}
/* end region Feature*/

/* region Team */
.team {
    background-color: var(--cloud);
}
.team-heading {
    font-weight: 700;
    font-size: 36px;
    color: var(--navyblue);
    line-height: 40px;
}
.team-cards {
    background-color: var(--white-background);
    box-shadow:
        0 2px 1px rgba(34, 47, 66, 0.08),
        0 1px 1px rgba(34, 47, 66, 0.16),
        0 1px 6px rgba(34, 47, 66, 0.08);
}
.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--navyblue);
}
.team-card-text {
    line-height: 24px;
    color: var(--slate);
}
.trail-social-ico {
    color: var(--iris);
}
/* end region Team */