:root {
    --slate: #434455;
    --white-background: #ffffff;
    --cornflower: #e7e9fc;
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --cloud: #f4f4fd;
    --ocean: #404bbf;
}

/* region Common styles */
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white-background);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* endregion */

/* region Header */
.top-line {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    /*justify-content: space-between;*/
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    padding-left: 156px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-studio {
    color: var(--navyblue);
}
.menu-nav {
    display: flex;
    gap: 40px;
    line-height: 1.5;
    padding-left: 76px;
}
.menu-nav-item {
    padding: 24px 0;
}
.menu-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.menu-nav-link:hover,
.menu-nav-link:focus {
    color: var(--ocean);
}
address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /*padding-left: 332px;*/
}
.contact-menu {
    display: flex;
    gap: 40px;
    padding-right: 156px;
}
.contact-menu-item {
    padding: 24px 0;
}
.contact-menu-link {
    color: var(--slate);
}
.contact-menu-link:hover,
.contact-menu-link:focus {
    color: var(--ocean);
}
/* endregion Header */

/* region Hero */
.hero {
    color: white;
    background-color: var(--navyblue);
    padding-bottom: 188px;
}
.container.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    margin: 0 auto;
}
.hero-slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 472px;
    padding-top: 188px;
}
.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: var(--iris);
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
    padding: 16px 32px;

}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);
}
/* endregion Hero */

/* region Feature */
.feature {
    color: var(--navyblue);
}
.container.feature-container {
    margin: 0 auto;
    padding: 120px 156px;
}
.feature-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.feature-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.feature-list-item {
    width: calc((100% - 24px * 3) / 4);
}
.feature-text {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* endregion Feature*/

/* region Team */
.team {
    background-color: var(--cloud);
    letter-spacing: 0.02em;
}
.container.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-heading {
    font-weight: 700;
    font-size: 36px;
    color: var(--navyblue);
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    padding-top: 120px;
}
.team-cards {
    display: flex;
    gap: 24px;
    margin-top: 72px;
    padding-bottom: 120px;
    padding-left: 156px;
}
.team-card {
    background-color: var(--white-background);
    width: calc((100% - 24px * 3) / 4);
    text-align: center;
}
.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-top: 32px;
    /*padding-left: 65px;*/
}
.team-card-text {
    line-height: 1.5;
    color: var(--slate);
    margin-top: 8px;
    padding-bottom: 32px;
}
.trail-social-svg {
    color: var(--iris);
}
.trail-social-svg:hover,
.trail-social-svg:focus {
    color: var(--ocean);
}
/* endregion Team */

/* region Portfolio */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    text-align: center;
    text-transform: capitalize;
}
.portfolio-cards {
    background-color: var(--white-background);
}
.project-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.project-card-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* endregion Portfolio */

/* region Footer */
.footer {
    background-color: var(--navyblue);
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
.footer-studio {
    color: var(--cloud);
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* endregion Footer */
